# -------------------------------
# ENV FILES (SECURITY 🔐)
# -------------------------------
.env
.env.*

# -------------------------------
# PYTHON
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------
# VIRTUAL ENVIRONMENT
# -------------------------------
venv/
env/
ENV/
.venv/

# -------------------------------
# JUPYTER NOTEBOOKS
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# LOG FILES
# -------------------------------
*.log
logs/

# -------------------------------
# AIRFLOW
# -------------------------------
airflow.cfg
airflow.db
Airflow-Docker/logs/
Airflow-Docker/plugins/__pycache__/

# -------------------------------
# DATA FILES (IMPORTANT 🚀)
# -------------------------------
*.csv
*.tsv
*.json
*.parquet
*.xlsx
*.xls
*.txt

# If you want to ignore full data folders
data/
raw_data/
processed_data/

# -------------------------------
# OS FILES
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# VS CODE
# -------------------------------
.vscode/

# -------------------------------
# BUILD / CACHE
# -------------------------------
dist/
build/
*.egg-info/
.eggs/

# -------------------------------
# SECRETS / KEYS
# -------------------------------
*.pem
*.key
*.crt

# -------------------------------
# STREAMLIT
# -------------------------------
.streamlit/secrets.toml

# -------------------------------
# TEMP FILES
# -------------------------------
*.tmp
*.bak
*.swp